<h1>Cards</h1>
<div id="boardcards">

{{#if c1}}
    <img src="{{c1}}.svg">
    <img src="{{c2}}.svg">
{{/if}}
	
	
	{{#each cards}}
	
	<img class="size30" src="{{this}}.svg">
	
	
	{{/each}}
	
	
</div>